<div class="flex-container">
    <mat-card>
        <mat-card-header>
            <mat-icon inline>error_outline</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <h1>Seite nicht gefunden</h1>
            <h5>Fehlercode 404</h5>
            <p>Die angeforderte Seite konnte nicht gefunden werden. Bitte versuche es erneut oder kontaktiere den Administrator.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button routerLink="/dashboard" color="accent">Zurück zum Dashboard</a>
        </mat-card-actions>
    </mat-card>
</div>
