$sidenav-min-width-mobile-portrait: 50%;
$sidenav-min-width-mobile-landscape: 40%;
$sidenav-min-width-tablet: 25%;
$sidenav-min-width-desktop: 12.5%;

.sidenav-container {
    height: 100%;
}

.sidenav {
    min-width: $sidenav-min-width-desktop;

    a {
        border-radius: 4px;
        width: unset;
        margin: 4px 8px 4px 8px;
    }

    .mat-toolbar {
        background: inherit;
    }

    .subheader {
        margin-top: 12px;
    }

    .active {
        background-color: #c0a9d2;

        mat-icon {
            color: black;
        }

        span {
            font-weight: 500;
        }
    }

    @media (max-width: 599px) and (orientation: portrait) {
        min-width: $sidenav-min-width-mobile-portrait;
    }

    @media (max-width: 959px) and (orientation: landscape) {
        min-width: $sidenav-min-width-mobile-landscape;
    }
}

.mat-toolbar.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar {
    background-color: #97cff1;

    .header-home-link {
        cursor: pointer;
    }
}

.content-container {
    margin: 0 60px 20px 60px;
}
