parameters:
    level: 8
    paths:
        - src/
        - tests/
    symfony:
        consoleApplicationLoader: tests/console-application.php
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/dev/Symfony/Config

    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        print_suggestions: false
