.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    mat-card {
        display: flex;
        align-items: center;
        width: 50vh;
        text-align: center;

        h1 {
            margin-bottom: 8px;
        }

        h5 {
            margin-bottom: 32px;
        }

        mat-card-header {
            margin-bottom: 12px;
        }

        mat-icon {
            font-size: 80px;
            line-height: 1;
        }

        mat-card-actions {
            margin: 32px 0 16px;
        }
    }
}

