.header {
    background-color: white;
    margin: 0 -60px 40px -60px;
    padding: 24px 60px 24px 60px;

    display: flex;

    h1 {
        margin: 0;
    }

    .spacer {
        flex: 1 1 auto;
    }
}

.mat-column-name {
    width: 55%;
}

.mat-column-type {
    width: 40%;
}

.mat-column-menu {
    width: 5%;
}

.mat-mdc-paginator {
    background-color: unset;
}
