{
	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	auto_https off

	order php_server before file_server
}

:80 {
	log

	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		X-XSS-Protection "1; mode=block"
		Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:;"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Referrer-Policy same-origin
	}

	root * /var/www/app/public
	encode zstd br gzip

	php_server
}
